<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>I am <%= fullName%>. </p><br><p>Born in <%= dob%>, I came to <%= currentCountry%> when I was 18. I am an enthusiastic student at <%= college%>. I am enrolled in <%= course%>.</p>
  </body>
</html>