<!DOCTYPE html>


<html>
  
  <%- include('partials/main_nav')%>
  <head>
    <title><%= title %></title>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2 style="text-align:center"><%= title%></h2>
<div class="flexContent">
<div class="card">
  <img src="images/img_avatar1.jpg" alt="Avatar" />
  <h1><%=service1%></h1>
  
  
  <p><button>Contact</button></p>
</div>

<div class="card">
  <img src="images/img_avatar2.jpg" alt="Avatar" >
  <h1><%=service2%></h1>
  
  
  <p><button>Contact</button></p>
</div>

<div class="card">
  <img src="images/img_avatar3.jpg" alt="Avatar" >
  <h1><%=service3%></h1>
  
  
  <p><button>Contact</button></p>
</div>
</div>
  </body>
  <%- include('partials/bottom_nav') %>  


</html>